chroma-hnswlib
chromadb
langchain
langchain-community
langchain-core
langchain-experimental
langchain-groq
langcodes
pandas
pandas-datareader
pip-requirements-parser
pip-tools
sentence-transformer
sentencepiec
setuptools-rust
snowflake
snowflake-connector-python
snowflake-snowpark-python
snowflake._legacy
snowflake.core

